<div class="container">
  <h1>My personal home page</h1>
  <img src="/path/to/image.png" alt="My brother">
  <p>You can read more about me, or checkout my blog.</p>
  <%= link_to "About Me", about_path %>
</div>